.fornecedor-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  &__endereco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__contato {
    display: flex;
    &__tabela {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }
  }
}
