.p-overlaypanel {
  background: $grey-lighter;
  color: $black-site;
  border: 0 none;
  border-radius: $default-radius;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.1);
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 0.5rem;
}
.p-overlaypanel .p-overlaypanel-close {
  background: $grey-lighter;
  color: $grey-dark;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.p-overlaypanel .p-overlaypanel-close:enabled:hover {
  background: $grey-dark;
  color: $grey-lighter;
}
.p-overlaypanel:after {
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: $grey-lighter;
}
.p-overlaypanel:before {
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #f2f2f2;
}
.p-overlaypanel.p-overlaypanel-flipped:after {
  border-top-color: $grey-lighter;
}
.p-overlaypanel.p-overlaypanel-flipped:before {
  border-top-color: $grey-lighter;
}
