@import "./../../../../assets/scss/colors";
@import "./../../../../assets/scss/fonts";

.app-user-info__container {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  gap: 1rem;

  &__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.25rem;
    font-size: 0.9369rem;
    justify-content: center;

    &__employer-name {
      font-family: "lato-light";
    }

    &__role {
      font-family: "lato-bold";
    }
  }

  &__menu {
    align-content: end;
    cursor: pointer;
  }

  &__menu > svg :hover {
    fill: $brand;
  }
}
