<app-page-template-card
  [title]="title"
  [subtitle]="subtitle"
  [primeIcon]="primeIcon"
>
  <div pos-right class="btn-position">
    <app-button-overlay-template
      primeIcon="pi pi-save"
      buttonLabel="Save"
      [badge]="badge"
      [isBlackButton]="true"
      [disabled]="disabled"
      (onProceed)="onSave()"
      labelCancel="No, I'm not sure."
      labelProceed="Yes, I confirm."
      subtitle="Are you sure?"
      customStyle="min-width: 28rem"
    ></app-button-overlay-template>
    @if(customButtons) {
    <ng-content select="[buttons]"></ng-content>
    }
    <p-button
      label="Cancel"
      [outlined]="true"
      severity="secondary"
      icon="pi pi-times-circle"
      (onClick)="onCancel()"
    />
  </div>
  <div body><ng-content></ng-content></div
></app-page-template-card>
