<app-page-template-main title="Fornecedor" subtitle="">
  <div pos-right class="btn-position">
    <app-filter-template
      subtitle="Filtro de fornecedor"
      customStyle="min-width: 150px;"
      (onApply)="aplicarFiltros()"
      (onReset)="resetFilter()"
    >
      <fornecedor-filter [form]="formSearch"> </fornecedor-filter>
    </app-filter-template>
    <fornecedor-form (closeOutput)="tableItems.push($event)"></fornecedor-form>
  </div>
  <div body>
    <app-page-template-card
      title="Fornecedor"
      subtitle="Listar todas as fornecedores do estabelecimento"
      primeIcon="pi pi-list"
    >
      <div body>
        <app-table-template
          dataKey="id"
          [items]="tableItems"
          [cols]="customerCols"
          [loading]="loading"
          (loadMoreClicked)="loadMore()"
        ></app-table-template>
      </div>
    </app-page-template-card>
  </div>
</app-page-template-main>
