<app-page-template-center-center>
  <div class="app-page-not-found__container">
    <div class="app-page-not-found__container__image">
      <img
        src="./../../../../assets/images/art/page-not-found.svg"
        alt="Page Not Found Image"
      />
    </div>
    <div class="app-page-not-found__container__text">
      <div class="app-page-not-found__container__text__title">404</div>
      <div class="app-page-not-found__container__text__subtitle">
        Desculpa, pagina não encontrada
      </div>
    </div>
    <div class="app-page-not-found__container__btn">
      <p-button
        label="Voltar para minha pagina home"
        routerLink="/site/home"
        severity="secondary"
      ></p-button>
    </div>
  </div>
</app-page-template-center-center>
