<app-page-template-main title="Ingrediente" subtitle="">
  <div pos-right class="btn-position">
    <app-filter-template
      subtitle="Filtro de ingrediente"
      customStyle="min-width: 150px;"
      (onApply)="aplicarFiltros()"
      (onReset)="resetFilter()"
    >
      <ingrediente-filter [form]="formSearch"> </ingrediente-filter>
    </app-filter-template>
    <ingrediente-form></ingrediente-form>
  </div>
  <div body>
    <app-page-template-card
      title="ingrediente"
      subtitle="Listar o ingrediente do estabelecimento"
      primeIcon="pi pi-list"
    >
      <div body>
        <app-table-template
          dataKey="id"
          [items]="tableItems"
          [cols]="customerCols"
          [loading]="loading"
          (loadMoreClicked)="loadMore()"
        ></app-table-template>
      </div>
    </app-page-template-card>
  </div>
</app-page-template-main>
