$shadow-17: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
$shadow-69: rgba(17, 17, 26, 0.1) 0 1px 0, rgba(17, 17, 26, 0.1) 0 8px 24px,
  rgba(17, 17, 26, 0.1) 0 16px 48px;
$shadow-82: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
$shadow-100: 5px 5px 10px rgba(0, 0, 0, 0.08);
$autocomplete-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 5px 5px -3px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

$default-shadow: 0 0.1875rem 0.25rem rgba(0, 0, 0, 0.1);
