<div class="app-site__container">
  <div class="app-site__container__left-side">
    <div class="app-site__container__left-side__menu">
      <div class="app-site__container__left-side__menu__top">
        <menu-template></menu-template>
      </div>
      <!-- <div class="app-site__container__left-side__menu__bottom">
        <p-divider />
        <div class="app-site__container__left-side__menu__bottom__userinfo">
          <app-user-info
            [userMenu]="userInfoMenu"
            employerName="Kepilyn"
            employerRole="Gerente"
          ></app-user-info>
        </div>
      </div> -->
    </div>
  </div>
  <div class="app-site__container__right-side">
    <router-outlet></router-outlet>
  </div>
</div>
